*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color palletes */
  --main-color: #ec3232;
  --text-color: #000000;
  --text-color-secondary: rgba(110, 106, 106, 0.838);
  --background-color: white;
  --background-color-secondary: rgba(209, 189, 189, 0.801);
  --button-color: #c84545;
  --button-color-hover: #913535;
  --button-color-active: #692c2cdd;

  /* fonts*/
  --font-family:
    "Source Sans Pro", "Merriweather", "Roboto", "Helvetica", "Neue";
  font-family: serif, "Times New Roman", Times, serif;
  --font-family-secondary:
    "Playfair Display", "Lora", "Roboto", "Helvetica", "Neue";

  /* Font Size */
  --font-xsmall: 0.5rem;
  --font-small: 1rem;
  --font-medium: 1.25rem;
  --font-large: 5rem;
  --font-large: 2rem;

  /*Border Radius*/
  --border-redius-small: 5px;
  --border-redius-mediu: 10px;
  --border-redius-large: 15px;
  --border-redius-xlarge: 20px;

  /* padding and margin */
  --padding-small: 10px;
  --padding-medium: 15px;
  --padding-large: 25px;
  --padding-xlarge: 35px;
  --padding-xxlarge: 40px;

  --margin-small: 10px;
  --margin-medium: 20px;
  --margin-large: 30px;
  --margin-large: 50px;

  /* Flex And Grid Gaps */
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 30px;
  --gap-xlarge: 40px;
  --gap-xxlarge: 50px;

  /* box-shadow */
  --box-shadow-small: 5px 5px rgb(154, 66, 66);
  --box-shadow-large: 10px 10px rgb(219, 32, 32);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

a,
button {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: var(--padding-medium) var(--padding-xxlarge);
  background-color: var(--background-color);
  /* border: 2px solid red; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  height: 64px;
  padding: 0 var(--padding-medium);
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: var(--gap-xlarge);
    width: 100%;
    padding: var(--padding-small);
  }
}

.logo {
  font-size: var(--font-large);
  color: var(--main-color);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-medium);
  color: var(--text-color);
  font-family: var(--font-family-secondary);
  font-size: var(--font-medium);
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}

.nav-link:hover {
  color: var(--text-color-secondary);
  border-bottom: 3px solid var(--text-color);
}

.nav-link:active {
  transform: translateY(10px);
  color: var(--main-color);
  transition: color 0.1s ease-in-out;
}
